
@{
	ViewBag.Title = "Detay için bize ulaşın";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">



<body id="can">

	<!-- sodtbay preloader -->
	<!--
	   site header start
	-->
	<!--
	   banner area start
	-->
	<section class="page-banner">
		<div class="container">
			<div class="row pge-banner-height align-items-center">
				<div class="col-12 text-center">
					<div class="banner-content-page">
						<h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Bize Dair</h3>
						<div class="animation" data-animation="fadeInDown" data-animation-delay="0.6s">
							<h4>
								Hayallerinizin de yaşayan bir canlı gibi gelişip büyüdüğünü
								unutmayın!
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>



	<!--
	blog section start
	 -->
	<section class="blog-area">
		<div class="container">
			<div class="row">

				<!-- end sideabr column -->
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-blog-post">
								<figure class="blog-thumbs">
									<img src="~/Content/assets/images/all-img/1.png" style="width:100%; width:540px; height:438px;" alt="">
								</figure>
								<div class="blog-text">
									
									<div class="text-center">
										<h3><a href="#">Bağımsız platform desteği</a></h3>
										<p>Web uygulamaları tüm Tablet, Mobil ve PC lerde dinamik olarak dönüşerek çalışma imkanı sağlamaktadır. Böylelikle her türlü cihazda kullanıcının rahatlıkla kullanması sağlanmaktdır.Hedefimiz; MEMNUNİYETİNİZDİR.</p>
										
									</div>
								</div>
								<!-- end blog text -->
							</div>
							<!-- end single blog post -->
						</div>
						<!-- end single blog -->
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-blog-post">
								<figure class="blog-thumbs">
									<img src="~/Content/assets/images/all-img/2.jpg" style="width:100%; width:540px; height:438px;" alt="">
								</figure>
								<div class="blog-text">
									
									<div class="text-center">
										<h3><a href="#">Performans</a></h3>
										<p>Geliştirmiş olduğumu tüm projeler, mutlak bulundurulacakları ortamlar göre maksimum verim alacak şekilde tasarlanıp, kodlanmaktadır. Bu nedenle en fazla Web projelerinde en düşün bağlantı hızlarında bile sorunsuzca çalışması sağlanmaktadır.</p>
										
									</div>
								</div>
								<!-- end blog text -->
							</div>
							<!-- end single blog post -->
						</div>
						<!-- end single blog -->
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-blog-post">
								<figure class="blog-thumbs">
									<img src="~/Content/assets/images/all-img/3.jpg" style="width:100%; width:540px; height:438px;" alt="">
								</figure>
								<div class="blog-text">
									
									<div class="text-center">
										<h3><a href="#">Güvenlik</a></h3>
										<p>Projelerimizde kodlama ve test süreçlerinde sonra son olarak sızma ve diğer tehditlere karşı en üst düzeyde güvenlik kontrollerinden geçirilmektedir. Bu sayede tüm veri ve diğer bilgileriniz maksism güvencede olması sağlanmaktadır.</p>
										
									</div>
								</div>
								<!-- end blog text -->
							</div>
							<!-- end single blog post -->
						</div>
						<!-- end single blog -->
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-blog-post">
								<figure class="blog-thumbs">
									<img src="~/Content/assets/images/all-img/4.jpg" style="width:100%; width:540px; height:438px;" alt="">
								</figure>
								<div class="blog-text">
									
									<div class="text-center">
										<h3><a href="#">Data Optimizasyonu</a></h3>
										<p>Mevcut çalışan projelerinizin güncellenmesi sırasında Data bilgileri güvenle yeni projeye entegre edilmektedir. Bununla birlikte Data alanında performans iyileştirmeleri güvenle yapılmaktadır. Böylelikle bilgiler kontrol dahilinde teknoloji geçişleri sağlanmaktadır.</p>
										
									</div>
								</div>
								<!-- end blog text -->
							</div>
							<!-- end single blog post -->
						</div>
						<!-- end single blog -->
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-blog-post">
								<figure class="blog-thumbs">
									<img src="~/Content/assets/images/all-img/5.jpg" style="width:100%; width:540px; height:438px;" alt="">
								</figure>
								<div class="blog-text">
									
									<div class="text-center">
										<h3><a href="#">Kolay Erişim</a></h3>
										<p>Geliştirilen tüm uygulama ve projelerimizde ana hedef son kullanıcının sistem üzerinde kolay ve hızlı adapte olmasını sağlamaktır. İş süreciniz ne kadar hızlı olursa, sizin için iş-zaman performans çizelgeniz o kadar artacaktır.</p>
										
									</div>
								</div>
								<!-- end blog text -->
							</div>
							<!-- end single blog post -->
						</div>
						<!-- end single blog -->
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-blog-post">
								<figure class="blog-thumbs">
									<img src="~/Content/assets/images/all-img/6.jpg" style="width:100%; width:540px; height:438px; " alt="">
								</figure>
								<div class="blog-text">
									
									<div class="text-center">
										<h3><a href="#">Kesintisiz Destek</a></h3>
										<p>Tüm soru ve önerileriniz için kesintisiz destek olanağı sunmaktayız. Amacımız siz değerli müşterilerimize soru ve önerilerini en hızlı bir şekilde cevap ve öneriler sunmaktır. Danışmanlık Hizmetimizle yanınızdayız. Her konuda sloganımız; BAŞARINIZ, BAŞARIMIZDIR.</p>
									
									</div>
								</div>
								<!-- end blog text -->
							</div>
							<!-- end single blog post -->
						</div>


					</div>
				</div>
				<!-- end blog conent column -->
			</div>
		</div>
	</section>


	<!-- get In tocch -->
	


	<!--
	 footer start
	-->






</body>

</html>