
@{
	ViewBag.Title = "Mobil Yazılım Dünyası";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">



<body>


	<!-- sodtbay preloader -->

	


	<!--
	   site header start
	-->

	

	<!--
	   banner area start
	-->
	<section class="page-banner">
		<div class="container">
			<div class="row pge-banner-height align-items-center">
				<div class="col-12 text-center">
					<div class="banner-content-page">
						<h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Hayatınızı kolaylaştıran tüm uygulamalar!</h3>
						<div class="animation" data-animation="fadeInDown" data-animation-delay="0.6s">
							<h5>İşinize yönelik her türlü uygulama için Mobil Aplikasyonu hazırlanmaktadır.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>



	<!--
	blog section start
	 -->
	<section class="blog-area singLe">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-blog-posts">
						<div class="sBD--text">
							<img src="~/Content/assets/images/all-img/blg3.jpg" style="width:70%;" alt="">
							<h2>Hayatınızı kolaylaştıran tüm uygulamalar!</h2>
							
							<p>İşinize yönelik her türlü uygulama için Mobil Aplikasyonu hazırlanmaktadır.</p>
							<p>
								Tüm uygulamalarımızın asıl amacı hayatınızı kolaylaştırmaktır
							</p>
							<p><strong style="color:black;">Neye ihtiyacınız var?</strong></p>

							



							<!-- end pagination share box -->
							<!-- end comment box -->
							<!-- end replay box -->
						</div>
						<!-- end single blog list -->
					</div>
				</div>
			
				<!-- end sideabr column -->
			</div>
		</div>
	</section>



	<!--
	 footer start
	-->


</body>

</html>