
@{
	ViewBag.Title = "Masa üstü uygulamalar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-banner">
	<div class="container">
		<div class="row pge-banner-height align-items-center">
			<div class="col-12 text-center">
				<div class="banner-content-page">
					<h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Neden Masaüstü Uygulama?</h3>
					<div class="animation" data-animation="fadeInDown" data-animation-delay="0.6s">
						<h5>İçeriği kapalı ve çevresel 2. parti uygulamalarla etkileşimli çalışmak için tercihiniz masaüstü uygulamalar olabilir. Bu bağlamda sizlere en iyi çözümü sunmak için çeşitli öneri ve alternatiflerle yanınızdayız.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>


<section class="blog-area singLe">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="single-blog-posts">
					<div class="sBD--text">
						<img src="~/Content/assets/images/all-img/aboutimg.png" style="width:55%;" alt="">

						<h2 style="padding-top:70px;">Teknoportsoft ile tanışın!</h2>

						<p>Basit, sezgisel, güçlü ve yenilikçi. Bir sonraki kuşağın uygulamalarını keşfedin ve Mutlu fotoğrafın bir parçası olun.</p>

						<img src="~/Content/assets/images/all-img/11.jpg" style="width:65%;" alt="">
						<hr />
						<p><strong style="color:black;">Neden Masaüstü Uygulama?</strong></p>
						<p>İçeriği kapalı ve çevresel 2. parti uygulamalarla etkileşimli çalışmak için tercihiniz masaüstü uygulamalar olabilir. Bu bağlamda sizlere en iyi çözümü sunmak için çeşitli öneri ve alternatiflerle yanınızdayız.</p>
						<img src="~/Content/assets/images/all-img/10.jpg" style="width:65%;" alt="">
						<hr />

						<div class="container">
							<h3>
								Her platform için yerel bir uygulama belirleyin
							</h3>
							<p>Uygulamalarımız, bulut tabanlı mimaride ve tüm lokasyonlardan kolay erişimli yapıdadır. Güvenlik ve hız üzerine odaklanma önceliğimiz, bütün platformda kullanabilmeniz için hazırlanmaktadır.</p>
							<p><strong style="color:black;">Teknoportsoft'un tüm uygulamaları her platformda kusursuz olarak çalışır.</strong></p>
						</div>

					</div>
					
				</div>
			</div>

		</div>
	</div>
</section>



